.cardsPage {
    width: 90%;
    height: 100vh;
    background-color: #F2F2F2;
}
.cardsBlock {
    width: 90%;
    top: 11.5%;
    position: absolute;
    margin-left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;

   
}
