.formBlock{
    width: 300px;
}
.inputName{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;

    width: 85%;
    height: 15%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.5);
}
.inputName.inputError{
    background-image: url("./../img/redCross.svg");
    background-position: 95%;
    background-repeat: no-repeat;
    border: 1px solid red;
}
.inputName.active{
    border: 1px solid green;
    background-color: white;
}

.error {
    width: 50px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;

    color: #000000;
}

.errorMessage {
    width: 256px;
    height: 16px;
    left: 152px;
    top: 643px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #E43F3F;

}

.orderButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 16px 103px;

    width: 85%;
    height: 20%;

    background: #4BCFA0;
    border-radius: 16px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
}
/*HEIGHT*/
/*@media only screen and (min-height: 280px) {*/
/*    .orderButton{*/
/*        margin-top: 1px;*/
/*        padding: 1px 103px;*/
/*    }*/
/*    .inputName{*/
/*        padding: 1px;*/
/*    }*/
/*    .error {*/
/*        height: 15px;*/
/*        font-size: 16px;*/
/*        line-height: 16px;*/
/*    }*/
/*}*/

@media only screen and (max-height: 414px) {
    .orderButton{
        margin-top: 10px;
        padding: 5px 103px;
    }
    .inputName{
        padding: 8px;
    }
    .error {
        height: 15px;
        font-size: 16px;
        line-height: 16px;
    }
}

/*WIDTH*/
@media only screen and (max-width: 390px) {
    .formBlock{
        width: 100%;
    }
    .inputName{
        width: 100%;
    }
    .orderButton{
       padding: 16px 5px;
        width: 100%;
    }

}

