.closeButton{
    position: absolute;
    top: -10%;
    left: 97%;
}
.goodsTitleBlock {
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
}
.centeredPrice{
    margin-left: 25%;
    text-align: left;
}
