.singleCard {
    width: 352px;
    height: 256px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.contentBlock {
    padding: 32px;
}

.goodsTypeName {
    padding-bottom: 8px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
}

.goodsName {
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-bottom: 40px;
}

.singleCardBottom{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.priceBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.dollar {
    width: 17px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.02em;
    padding-top: 13px;
    padding-right: 4px;
    color: #000000;
}
.price {
    width: 179px;
    height: 72px;
    /*left: 21px;*/
    margin-right: 7%;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #000000;
}
.basketBlock {
    /*box-sizing: border-box;*/
    /*background-image: url("./../img/Ellipse.png" );*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*width: 64px;*/

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 16px;

    position: static;
    width: 64px;
    height: 56px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #4BCFA0;
}
.basketBlock.active{
    background: #4BCFA0;
    color: #FFFFFF;
}

.basketImage {
    width: 24px;
    margin-left: 50%;
    margin-top: 35%;
    transform: translateX(-50%);
}
@media only screen and (max-height: 375px) {
    .singleCard {
        height: 190px;
    }
    .goodsTypeName {
        font-size: 12px;
        line-height: 16px;
        height: 10px;
    }
    .goodsName {
        height: 25px;
        font-size: 25px;
        line-height: 45px;

    }
    .priceBlock {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    .dollar {
        height: 17px;
        font-size: 17px;
        padding-top: 1px;
        padding-right: 4px;
        color: #000000;
    }
    .price {
        height: 35px;
        font-size: 35px;
        line-height: 35px;

    }
}


@media only screen and (max-width: 480px) {
    .singleCard{
        height: 200px;
        width: 90%;
    }
    .goodsName{
        font-size: 30px;
    }
    .singleCardBottom{
        padding-top: 0;
    }
    .dollar{
        font-size: 25px;
    }
    .price {
        font-size: 40px;
        width: 120px;
    }

}

@media only screen and (min-width: 768px) {
    .singleCard{
        height: 230px;
        width: 300px;
    }
    .price {
        width: 130px;
    }

}
@media only screen and (min-width: 992px) {
    .singleCard{
        height: 256px;
        width: 352px;
    }

}
